@page "/challenges"
<h2>Challenges</h2>
<dl>
    <dt>DataBase</dt>
    <dd>- The amount of time and research it took</dd>
    <button>where it was used</button>
    <dt>Using Java Script</dt>
    <dd>- When using it we had to use different methods then we were used to</dd>
    <dt>How novice i actually was</dt>
    <dd>- I thought I knew a lot more than I did and so we had to work harder on research than I thought we would have. </dd>
    <dt>using new languages</dt>
    <dd>- Everything i did was with a new language so that came with unique challenges</dd>
</dl>
