@page "/intro"
<div>
    <h2>
        Introduction

    </h2>
    <p>
        During this internship at the muni IT department with my mentor Danny. I accomplished a lot while only doing one project. That project being a bear reporting site while doing this project I learned a lot. About the IT field and how things get done. Some of those things being learning new languages and learning about the process to accomplish goals.
    </p>
    <h2>My Project</h2>
    <p>
        The project I worked on was a bear reporting site where you give information about bears and then other people can see it. The reason i chose this was because when i was starting there was a bear issue in the neighborhood so this project was something that i could connect too. Another reason I chose it was that there were a lot of elements to it so it was likely I could learn a lot.
    </p> 
</div>
