@page "/language"
@inject NavigationManager _navigationManager
<h2>Languages I learned </h2>
<dl>
    <dt>HTML</dt>
    <dd>The main way we show the user things anything really that is displayed on the screen</dd>
    <dt>CSS</dt>
    <dd class = "fancy">Allows me to make the HTML elements look nice like how this line is fancy</dd>
    <dt>C sharp</dt>
    <dd>Really the main language i was using it was how we make functionality</dd>
    <dt>java Script</dt>
    <dd>very similar to C sharp it what it does with making functionality</dd><button @onclick = "show">Shown here</button>
</dl>
@code{
    public void show()
    {
        _navigationManager.NavigateTo("locations");
    }
}
