@page "/successes"
<h2>The successes we had</h2>
<dl>
    <dt>Completing my first tutorial</dt>
    <dd>- This felt really good because it was the first site had made</dd>
    <dt>Getting the database set up</dt>
    <dd>- Given the amount of time it took it felt very good the get that set up</dd>
    <dt>Getting the Java Script set up and working</dt>
    <dd>- This felt really good to get working because when it did work everything was straight forward and we could really se the site coming together</dd>
    <dt>Getting the site done</dt>
    <dd>- It felt very good once we were done because of the amount of work we put into it</dd>
</dl>
